version: '3'

services:
  # [1] 웹 서버 (파이썬) - 이제 외부 포트를 닫습니다. (Nginx랑만 대화함)
  web:
    image: jongroinf/my-python-app:latest
    restart: always
    depends_on:
      - redis

  # [2] 데이터베이스
  redis:
    image: "redis:alpine"
    restart: always

  # [3] Nginx (문지기) - 새로 추가됨!
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web
    restart: always