version: '3'

services:
  web:
    image: jongroinf/my-python-app:latest
    restart: always
    depends_on:
      - redis

  redis:
    image: "redis:alpine"
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"  # [핵심] HTTPS 포트 열기
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./certbot/conf:/etc/letsencrypt      # [핵심] 인증서 경로
      - ./certbot/www:/var/www/certbot       # [핵심] 인증용 경로
    depends_on:
      - web
    restart: always